<div class="row">
    <div class="col">
        <form #f= "ngForm" (ngSubmit) = "save(f.value)">
            <div class="form-group">
                <label for="title">Название</label>
                <input #title="ngModel" [(ngModel)] = "quiz.title" name = "title" id= "title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Введите, пожалуйста, название</div>
            </div>

            <div class = "form-group">
                <label for = "category">Категория</label>
                <select #category = "ngModel" [(ngModel)] = "quiz.category" name = "category" id = "category" type = "text" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let category of categories$ | async" [value] = "category.payload.val().name" >
                        {{ category.payload.val().name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Выберите категорию теста</div>
            </div>
            <div class="form-group">
                <label for="timeLimit">Ограничение по времени, минут:</label>
                <input #timeLimit = "ngModel" [(ngModel)] = "quiz.timeLimit" name="timeLimit" id="timeLimit" type="text" class="form-control">
            </div>
            <upload-files 
                [urls] = "quiz.imageUrls" 
                [quiz] = "quiz" 
                (upload) = "onUploadFiles($event)"
                (uploadIsValid) = "uploadValidTrigger($event)">
            </upload-files>

            <button [disabled] = "!f.valid || !uploadIsValid" class="btn btn-primary">Сохранить</button>
            <button type="button" (click) = "delete()" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>