<form #f= "ngForm" (ngSubmit) = "onSubmit(f.value)">
    <div class = "form-group">
        <label for = "group">Класс:</label>
        <select #group = "ngModel" [(ngModel)] = "_group" name = "group" id = "group" type = "text" class="form-control" required>
            <option>Выберите класс</option>
            <option *ngFor = "let group of groups$ | async" [value]="group.title">{{group.title}}</option>
        </select>
    </div>
    <div class = "form-group">
        <label for = "category">Предмет:</label>
        <select #category = "ngModel" [(ngModel)] = "_category" name = "category" id = "category" type = "text" class="form-control" required>
            <option>Выберите предмет:</option>
            <option *ngFor = "let category of categories$ | async" [value]="category.name">{{category.name}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col">
            <button id = "loadBtn" class="btn btn-success">Загрузить</button>
        </div>
        <div class="col">
            <a [routerLink] = "['/admin/groups/', _group, _category]" class="btn btn-primary">Задать</a>
        </div>
        <div class="col">
            <button (click) = "cancelAllQuizzes(_group)" class="btn btn-danger ml-3">Отменить все задания</button>
        </div>
    </div>
</form>

<ul class="list-group">
    <li *ngFor = "let student of students" class="list-group-item">
        <div class="row">
            <div class="col-3 studentName">
                {{ student.userName }}
                <a [routerLink] = "['/admin/groups/', _group, student.userId, _category]" class="float-right">
                    Задать
                </a>
            </div>
            <div *ngIf = "student.quizzesArr" class="col-9">
                <ul class="list-group list-group-horizontal">
                    <ng-container *ngIf = "student.quizzesArr[0]">
                        <ng-container *ngFor = "let quiz of student.quizzesArr[0]">
                            <li *ngIf = "quiz.category == _category" class="list-group-item assigned-quizzes">
                                {{quiz.title}}
                                <a (click) = "cancel(student, quiz)" class="link" style="color: red; cursor: pointer">
                                    <fa-icon [icon]="icon" size="1x"></fa-icon>
                                </a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf = "student.quizzesArr[1]">
                            <li *ngFor = "let quiz of student.quizzesArr[1]" class="list-group-item submitted-quizzes">
                                <a *ngIf = "quiz.category == _category" [routerLink] = "['/review/', student.userId, quiz.quizKey]">
                                    {{quiz.title}}
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf = "student.quizzesArr" class="col">
                <a [routerLink] = "['/admin/reviewed/', student.userId]" class="reviewed-quizzes">Проверенные</a>
            </div>
        </div>
    </li>
</ul>
