<h3>Класс {{group}}</h3>

<a [routerLink] = "['/admin/groups/', group, 'quizzes']" class="btn btn-primary">Задать</a>
<button (click) = "cancelAllQuizzes(group)" class="btn btn-danger ml-3">Отменить все задания</button>
<ul class="list-group">
    <li *ngFor = "let student of students" class="list-group-item">
        <div class="row">
            <div class="col">
                {{ student.userName }}
            </div>
            <div *ngIf = "student.quizzes" class="col">На выполнении:
                <ul class="list-group">
                    <ng-container *ngFor = "let quiz of student.quizzes">
                        <li *ngIf = "!quiz.isSubmitted" class="list-group-item">
                            {{quiz.title}}
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf = "student.quizzes" class="col">Проверить:
                <ul class="list-group">
                    <ng-container *ngFor = "let quiz of student.quizzes">
                        <a [routerLink] = "['/quiz/', student.userId, quiz.quizId ]">
                            <li *ngIf = "quiz.isSubmitted" class="list-group-item">{{quiz.title}}</li>
                        </a>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf = "student.quizzes" class="col">
                <a [routerLink] = "['/quiz/', student.userId]">Проверенные</a>
            </div>
        </div>
    </li>
</ul>