<h3>{{quiz?.title}}</h3>
<h5>Время на выполнение: {{quiz?.timeLimit}} минут</h5>
<div *ngIf = "!isLoaded" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="row">
    <div class="col">Выдано: {{quiz?.assignedTime | date: 'medium'}}</div>
    <div class="col">Начато: {{quiz?.startTime | date: 'medium'}}</div>
    <div class="col">Закончено: {{quiz?.endTime | date: 'medium'}}</div>
    <div class="col">Выполнено за {{executionTime}} минут</div>
</div>

<ng-container *ngIf = "imageUrl">
    <h1 class="text-center">Условие:</h1>
    <img [src]="imageUrl" alt="Фото условия" class="col">
</ng-container>

<ng-container *ngIf = "answerUrls">
    <h1 class="text-center">Решение:</h1>
    <div *ngFor = "let url of answerUrls" class="row m-2">
        <img [src]="url" alt="Фото решения" class="col">
    </div>
</ng-container>

<button (click) = "markReviewed()" class="btn btn-primary">Проверено</button>