<h3 *ngIf = "appUser$ | async as user" class = "greeting">Здравствуйте, {{user.userName}}</h3>

<h3>Новости:</h3>

<ul *ngIf = "appEvents$ | async as appEvents" class="list-group">
    <li *ngFor = "let appEvent of appEvents | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="list-group-item">
        {{ appEvent.userName }} {{ appEvent.content }} {{appEvent.time | date: "medium"}}
    </li>
</ul>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="30">
</ngb-pagination>